.polling_message {
    color: white;
    float: left;
    margin-right: 2%;
  }
  
  .view_port {
    background-color: black;
    height: 25px;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye {
    background-color: red;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, .9) 25%,
        rgba(0, 0, 0, .1) 50%,
        rgba(0, 0, 0, .9) 75%);
        /* background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% ); */
    color: white;
    height: 100%;
    width: 50%;
  
    animation: 5s linear 0s infinite alternate move_eye;
  }
  
  @keyframes move_eye { 
    from { margin-left: -50%; } 
    to { margin-left: 100%; }
  }  