*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(46, 45, 45);
}
.bell-notification{
    color: #fff; 
    position: relative;
    animation: bell 1s linear infinite alternate-reverse;
    transform-origin: top;
}
@keyframes bell {
      0%{
        transform: rotate(-20deg);
      }
      100%{
        transform: rotate(20deg);
      }
}

.fa-bell{
    font-size: 200px;
}

.bell-notification::after{
    content: attr(current-count);
    position: absolute;
    top: 0;
    right: -10%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: RED;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 10px solid rgb(46, 45, 45);
}