*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    animation: changeBg 4s linear infinite alternate-reverse;
}
@keyframes  changeBg{
    0%{
        background-color: rgb(0, 51, 255);
    }
    20%{
        background-color: rgb(0, 255, 68);
    }
    40%{
        background-color: rgb(85, 255, 0);
    }
    60%{
        background-color: rgb(255, 251, 0);
    }
    70%{
        background-color: rgb(255, 157, 0);
    }
    80%{
        background-color: rgb(255, 123, 0);
    }
    100%{
        background-color: rgb(255, 0, 217);
    }
}
.container{
    display: flex;
    animation: move 2s linear infinite alternate-reverse;
}
.card{
    padding: 23px 12px;
    margin: 23px 12px;
    background-color: cyan;
    box-shadow: -4px 1px 20px -3px black;
}

@keyframes move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(22px);
    }
    100%{
        transform: translateY(0);
    }
}
.card:hover{
    transform: translateY(-20px);
}
.card h1{
    text-shadow: 3px 3px 8px blue;
}