*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items:center;
    background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
}

ul{
    display: flex;
    border-bottom: 15px solid gray;
    border-radius: 10px;
}
ul li{
    width: 40px;
    height: 40px;
    list-style: none;
    background-color: royalblue;
    margin: auto 20px;
    border-radius: 50%;
    animation: buncing 1s linear infinite alternate-reverse;
} 

@keyframes buncing {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-160px);
    }
    100%{
        transform: translateY(0);
    }

}

ul li:nth-child(2){
    animation-delay: 0.2s;
}
ul li:nth-child(3){
    animation-delay: 0.4s;
}
ul li:nth-child(4){
    animation-delay: 0.6s;
}
ul li:nth-child(5){
    animation-delay: 0.8s;
}
ul li:nth-child(6){
    animation-delay: 1s;
}
ul li:nth-child(7){
    animation-delay: 1.2s;
}
ul li:nth-child(8){
    animation-delay: 1.4s;
}
ul li:nth-child(9){
    animation-delay: 1.6s;
}
ul li:nth-child(10){
    animation-delay: 1.8s;
}
ul li:nth-child(11){
    animation-delay: 2s;
}
ul li:nth-child(12){
    animation-delay: 2.2s;
}
ul li:nth-child(13){
    animation-delay: 2.4s;
}
ul li:nth-child(14){
    animation-delay: 2.6s;
}