*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    background-color: gray;
    height: 100vh;
}
.bell-notification{
    color: white;
    position: relative;
    animation: bell 1s linear infinite alternate-reverse;
    transform-origin: top;
}
@keyframes bell {
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}

.fa-bell{
    font-size: 8rem;
}

.bell-notification::after{
    content: attr(current-count);
    position: absolute;
    top: 0;
    right: -12%; 
    width: 2.2rem;
    height: 2.2rem;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid gray;
    font-size: 20px;
}

